@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

$primary: #92bde7;
$secondary:#c9e6ff;
$light:#f9feff;
$text-color:#485e74;
$font: 'Montserrat', sans-serif;